
/* Variables*/
$clr-primary-black: #231F20 ;
$clr-black-light: #292E37;
$clr-secondary-blue: #0196FF;
$clr-secondary-gray: #BBBBBB ;
$clr-ligtht-grey: rgba(#231F20, 70);
$clr-grey-light: #EDEDED;



