footer {
        
}
.footer-wrapper {
//    background-color: black!important; 
}

.footer {
    max-width: 1366px;
    padding: 75px 0 206px 0;

    align-items: center;
    // padding: 45px 10px 35px 10px;
   
    &__inner {
        max-width: 1120px;
        margin: 0 auto;
        display: flex;
        gap: 48px;
        justify-content: space-between;
        flex-wrap: wrap;
        // gap: 85px;

        
       
        // border-bottom: 1px solid #D3DAD7;
        // padding-bottom: 35px;  
        // @media (max-width:480px) {
        //     justify-content: center;
        // }
    }
   


    &__list-item {
        margin: 5px 0;

    }
   
    &__title {
        margin: 0 0 20px 0;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
        color: $clr-primary-black;
    }

    &__link { 
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $clr-primary-black;
        text-decoration: none;
        transition: .3s color;
    
        &:hover {
            color: $clr-secondary-gray;
        }
    }

    &__list-item--last {
        margin-top: 42px;
    }

    &__bottom {
        // width: 410px;
        margin-left: 140px;
        display: flex;
        justify-content: center;
    
        // @media (max-width:768px) {
        //     flex-wrap: wrap;
        //     gap: 30px;
        //     text-align: center;
        //  }
        
        
    }


}




.copy__img {
    margin-right: 10px;
  
}
.copy__text {
    color: $clr-primary-black;
}

// .social {
//     // justify-content: flex-end;
//     margin-left: 10px;


//     &__link {
//         text-decoration: none;
//         margin-right: 34px;
        
//     }
//     &__link svg:hover {
//        path {
//         fill: rgb(219, 216, 18)
//        }
//     }
   

    
// }