.title {
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: $clr-primary-black;
}
.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    color: $clr-ligtht-grey;
}
.text-wrapper--center {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
.text-wrapper--left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.btn {
    //forms button //
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    // text-transform:capitalize;
    // display: inline-block;
    text-decoration: none;
    text-align: center;
    // display: flex;
    // align-items: center;
    justify-content: center;
    padding: 16px 40px;
    // margin-right: 10px;
    border-radius: 40px;
    // @media(max-width:992px) {
    //     font-size: 22px;
    //     padding: 10px 15px;
    // }

}

.btn {
    
    // colors //
&__outline {
    background-color: #fff;
    color: $clr-secondary-blue;
    border: 1px solid $clr-secondary-blue ;
    &:hover {
        background-color: darken( #fff,  13%);
        
    }

}
&__primary {
    color: white;
    background-color: $clr-secondary-blue;
    border: none;
    &:hover {
        background-color: darken( blue, 20%);
             
    }

}
&__secondary {
   background-color: #FF6200;
    color: white;
    border: none;
    &:hover {
        background-color: darken(#FF6200, 10%);
        
    }

}

}

//keyframes

@keyframes fade {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}


