<!-- Navbar -->
<header class="header">
    <div class="container">
        <!--nav-->
          <div class="header__container">
            <nav class="nav">
                <div class ="nav__brand">
                          <div class="nav__brand-logo"><a class="nav__brand-link" href="#">Logo</a></div>
                </div>
                
                <ul class="nav__menu">
                    <li class="nav__item">
                        <a class="nav__link"  href="#">Home
                            </a> 
                    </li>
                    <li class="nav__item">
                      <a class="nav__link" href="#">About</a> 
                  </li>
                  <li class="nav__item">
                    <a class="nav__link"  href="#">Our focus</a> 
                </li>
                <li class="nav__item">
                    <a class="nav__link"  href="#">Team</a> 
                </li>
                <li class="nav__item">
                    <a class="nav__link"  href="#">Portfolio</a> 
                </li>
                <li class="nav__item">
                    <a class="nav__link"  href="#">our focus</a> 
                </li>

                </ul>

                <!-- <div class="nav__btns">
                    <a href="#" class="btn btn__outline  nav__btn">Log in</a>
                    <a href="#" class="btn btn__primary nav__btn">Get started</a>
                </div> -->
                
                <div class="burger">
                    <span  class="bar"></span>
                    <span  class="bar"></span>
                    <span  class="bar"></span>
                </div>
            
           </nav>
          </div>

    </div>
     
</header>

    
     